<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--
        configuration 标签中的子标签的顺序有要求：
         properties, settings, typeAliases, typeHandlers,
         objectFactory, objectWrapperFactory, reflectorFactory,
         plugins, environments, databaseIdProvider, mappers
    -->

    <properties resource="jdbc.properties"/>

    <settings>
        <!-- 将数据库中带下划线的字段与 pojo 中驼峰命名的属性相对应 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>


    <typeAliases>
        <package name="com.xd.pl.pojo"/>
    </typeAliases>

    <plugins>
        <!-- 分页插件 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor"/>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- 引入整个包的映射文件，要求映射文件的全路径与 mapper 接口的全类名一致
             这样编译完成后映射文件与 mapper 接口就位于同一目录
         -->
        <package name="com.xd.pl.mapper"/>

    </mappers>

</configuration>
